# AIs
GOOGLE_API_KEY="SUA_CHAVE_DA_API_DO_GOOGLE_AQUI"
GROQ_API_KEY="SUA_CHAVE_DA_API_DO_GROQ_AQUI"

#tools
SPOTIPY_CLIENT_ID="sua_client_id_do_spotify"
SPOTIPY_CLIENT_SECRET="sua_client_secret_do_spotify"
SPOTIPY_REDIRECT_URI="http://"
LANGCHAIN_TRACING_V2="false"
LANGCHAIN_API_KEY="SUA_CHAVE_DA_API_DO_LANGCHAIN_AQUI"
LANGCHAIN_ENDPOINTS="https://api.smith.langchain.com"
LANGCHAIN_PROJECT="nome_do_projeto"
GOOGLE_CSE_ID="cx=seu_id_do_google_cse_aqui"