# Renomeie este arquivo para .env e preencha com suas chaves secretas
GOOGLE_API_KEY="SUA_CHAVE_DA_API_DO_GOOGLE_AQUI"
PICOVOICE_ACCESS_KEY="SUA_CHAVE_DE_ACESSO_DO_PICOVOICE_AQUI"
GROQ_API_KEY="SUA_CHAVE_DA_API_DO_GROQ_AQUI"