# AIs
GOOGLE_API_KEY="SUA_CHAVE_DA_API_DO_GOOGLE_AQUI"
PICOVOICE_ACCESS_KEY="SUA_CHAVE_DE_ACESSO_DO_PICOVOICE_AQUI"
GROQ_API_KEY="SUA_CHAVE_DA_API_DO_GROQ_AQUI"

#tools
SPOTIPY_CLIENT_ID="sua_client_id_do_spotify"
SPOTIPY_CLIENT_SECRET="sua_client_secret_do_spotify"
SPOTIPY_REDIRECT_URI="http://"