__pycache__/
*.pyc
venv/
BMO/
google-cloud-sdk/
CRO_2025/
*.mp3
.env
credentials.json
google_adc_crentials.json
token.json
.cache
*.ini
training_samples/google-cloud-cli-linux-x86_64.tar.gz
*.tar.gz
temp_question.wav
credentials/